
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<form name="myForm" data-ng-app="myApp" data-ng-controller="produtoCtrl">
    <div class="container">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2">Nome:</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="nome" data-ng-model="produto.Nome" placeholder="Digite aqui..." required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Preço:</label>
                <div class="col-md-5">
                    <input type="number" class="form-control" name="preco" data-ng-model="produto.Preco" placeholder="Digite aqui..." required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Quantidade:</label>
                <div class="col-md-5">
                    <input type="number" class="form-control" name="quantidade" data-ng-model="produto.Quantidade" placeholder="Digite aqui..." required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Categoria:</label>
                <div class="col-md-5">
                    <select name="categoria" data-ng-model="produto.IdCategoria" required>
                        <option value="">Escolha uma Categoria...</option>
                        <option data-ng-repeat="categoria in categorias" value="{{categoria.IdCategoria}}">{{categoria.Nome}}</option>
                    </select>

                    <button name="btnShowDiv" data-ng-click="showDiv()">Incluir</button>
                    <button name="btnExcluir" data-ng-click="excluir(produto.IdCategoria)">Excluir</button>
                </div>
            </div>

            <div style="{{display}}">
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Nome:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="nomeCategoria" data-ng-model="categoria.Nome" placeholder="Digite aqui..." required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Descrição(Opcional):</label>
                    <div class="col-md-5">
                        <textarea name="descricaoCategoria" data-ng-model="categoria.Descricao" rows="5" cols="62" placeholder="   Digite aqui..."></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button name="btnCadastrarCategoria" data-ng-click="cadastrar(categoria)">Cadastrar Categoria</button>
                        <button name="btnCancelar" data-ng-click="hideDiv()">Cancelar</button>
                    </div>
                </div>
                <hr />
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Fornecedor:</label>
                <div class="col-md-5">
                    <select name="fornecedor" data-ng-model="produto.IdFornecedor" required>
                        <option value="">Escolha um Fornecedor...</option>
                        <option data-ng-repeat="fornecedor in fornecedores" value="{{fornecedor.IdFornecedor}}">{{fornecedor.Nome}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Foto:</label>
                <div class="col-md-5">
                    <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB" required />
                </div>
            </div>           
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button data-ng-disabled="myForm.nome.$invalid || myForm.preco.$invalid || myForm.quantidade.$invalid || myForm.categoria.$invalid || myForm.fornecedor.$invalid || myForm.file.$invalid"
                            class="btn btn-info glyphicon glyphicon-plus-sign"
                            name="btnCadastrar"
                            data-ng-click="cadastrar(produto, file)">
                        Cadastrar Produto
                    </button>
                </div>
            </div>
        </div>     
    </div>
</form>
