@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="container" style="text-align:center" data-ng-app="myApp" data-ng-controller="produtoCtrl">

    <div style="{{display}}">
        <form name="myForm" data-ng-app="myApp" data-ng-controller="produtoCtrl">
            <div class="container">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-2">Nome:</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="nome" data-ng-model="produto.Nome" placeholder="Digite aqui..." required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Preço:</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" name="preco" data-ng-model="produto.Preco" placeholder="Digite aqui..." required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Quantidade:</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" name="quantidade" data-ng-model="produto.Quantidade" placeholder="Digite aqui..." required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Categoria:</label>
                        <div class="col-md-2">
                            <select name="categoria" data-ng-model="produto.IdCategoria" required>

                                <option value="{{produto.IdCategoria}}" selected="selected">{{produto.Categoria}}</option>

                                <option value="">Escolha uma Categoria...</option>
                                <option data-ng-repeat="categoria in categorias" value="{{categoria.IdCategoria}}">{{categoria.Nome}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Fornecedor:</label>
                        <div class="col-md-2">
                            <select name="fornecedor" data-ng-model="produto.IdFornecedor" required>

                                <option value="{{produto.IdFornecedor}}" selected="selected">{{produto.Fornecedor}}</option>

                                <option value="">Escolha um Fornecedor...</option>
                                <option data-ng-repeat="fornecedor in fornecedores" value="{{fornecedor.IdFornecedor}}">{{fornecedor.Nome}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <button data-ng-disabled="myForm.nome.$invalid || myForm.preco.$invalid || myForm.quantidade.$invalid || myForm.categoria.$invalid || myForm.fornecedor.$invalid"
                                    class="btn btn-info glyphicon glyphicon-plus-sign"
                                    name="btnAtualizar"
                                    data-ng-click="atualizar(produto, file)">
                                Atualizar Produto
                            </button>
                            <button class="btn btn-info glyphicon glyphicon-share-alt" name="btnCancelar" data-ng-click="cancelar()"> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr />

    <table class="table table-hover" style="text-align:center">

        <thead>
            <tr>
                <th style="text-align:center">Código</th>
                <th style="text-align:center">Foto</th>
                <th style="text-align:center">Nome</th>
                <th style="text-align:center">Categoria</th>
                <th style="text-align:center">Fornecedor</th>
                <th style="text-align:center">Preço</th>
                <th style="text-align:center">Quantidade</th>
                <th style="text-align:center">Opções</th>
            </tr>
        </thead>

        <tbody data-ng-repeat="produto in produtos">
            <tr>
                <td>{{produto.IdProduto}}</td>
                <td>
                    <img src="/Imagens/{{produto.Foto}}" width="40" height="40" />
                </td>
                <td>{{produto.Nome}}</td>
                <td>{{produto.Categoria}}</td>
                <td>{{produto.Fornecedor}}</td>
                <td>R${{produto.Preco}}</td>
                <td>{{produto.Quantidade}}</td>
                <td>
                    <button class="btn btn-info glyphicon glyphicon-edit" name="btnEditar" data-ng-click="editar(produto.IdProduto)"> Editar</button>
                    <button class="btn btn-danger glyphicon glyphicon-trash" name="btnExcluir" data-ng-click="excluir(produto.IdProduto)"> Excluir</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

