
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Clientes/Views/Shared/Layout.cshtml";
}

<div class="container" data-ng-app="myApp" data-ng-controller="clienteCtrl">
    <div class="row">

        <div class="col-md-2">
            <h4>Produtos:</h4>
            <hr />
            <button class="btn btn-default btn-block" data-ng-click="consultar('Informática')">Informática</button>
            <button class="btn btn-default btn-block" data-ng-click="consultar('Eletrodomésticos')">Eletrodomésticos</button>
            <button class="btn btn-default btn-block" data-ng-click="consultar('Games')">Games</button>
        </div>

        <div class="col-md-10" style="{{display}}">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center">Imagem</th>
                        <th style="text-align:center">Nome</th>
                        <th style="text-align:center">Preço</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody data-ng-repeat="produto in produtos">
                    <tr style="text-align:center">
                        <td>
                        <img src="/Imagens/{{produto.Foto}}" width="40" height="40" />
                        </td>
                        <td>{{produto.Nome}}</td>
                        <td>R$ {{produto.Preco}}</td>
                        <td>
                        <button class="btn btn-success">Comprar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


