<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ngMask/ngMask.min.js"></script>
    <script src="~/Scripts/ngFileUpload/ng-file-upload.js"></script>

    <script src="~/Scripts/ngSweetAlert/SweetAlert.js"></script>
    <script src="~/Scripts/ngSweetAlert/sweetalert.min.js"></script>
    <link href="~/Scripts/ngSweetAlert/sweetalert.css" rel="stylesheet" />

    <script src="~/Scripts/ngApp/myApp.js"></script>

</head>
<body>
    <br />
    <br />
    <div class="col-md-12">
        @RenderBody()
    </div>
</body>
</html>
