@using Microsoft.AspNet.Identity
@using Projeto.Entity.Entities
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="well">
            @{
                if (Session["usuariologado"] != null)
                {
                    Usuario u = (Usuario)Session["usuariologado"];
                    <div class="row">
                        <div class="col-md-10">
                        </div>

                        <div class="col-md-2">
                            <img src="/Imagens/@u.Foto" class="img-circle"
                                 width="80" height="80" />
                            <br />

                            Usuário:
                            <strong> @User.Identity.GetUserName() </strong>

                            <br />
                            <a href="/Usuario/Logout" class="btn btn-danger glyphicon glyphicon-log-out"> Sair do Sistema</a>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</body>
</html>
