@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form data-ng-app="myApp" data-ng-controller="usuarioCtrl" name="myForm">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-3">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>Dados Pessoais:</h4>
                    </div>

                    <div class="panel-body">

                        <input type="text" name="nome" data-ng-model="usuario.Nome" class="form-control" placeholder="Nome" required />
                        <span ng-show="myForm.nome.$touched && myForm.nome.$invalid" style="color:red">Campo Nome é obrigatório</span>
                        <br />
                        
                        <input type="text" name="sobrenome" data-ng-model="usuario.Sobrenome" class="form-control" placeholder="Sobrenome" required />
                        <span ng-show="myForm.sobrenome.$touched && myForm.sobrenome.$invalid" style="color:red">Campo Sobrenome é obrigatório</span>
                        <br />

                        <input type="text" name="login" data-ng-model="usuario.Login" class="form-control" placeholder="Login" required />
                        <span ng-show="myForm.login.$touched && myForm.login.$invalid" style="color:red">Campo Login é obrigatório</span>
                        <br />

                        <input type="password" name="senha" data-ng-model="usuario.Senha" class="form-control" placeholder="Senha" required />
                        <span ng-show="myForm.senha.$touched && myForm.senha.$invalid" style="color:red">Campo Senha é obrigatório</span>
                        <br />

                        <input type="password" name="senhaConfirm" data-ng-model="usuario.SenhaConfirm" class="form-control" placeholder="Confirme a senha" required />
                        <span ng-show="myForm.senhaConfirm.$touched && myForm.senhaConfirm.$invalid" style="color:red">Campo Confirme a senha é obrigatório</span>
                        <br />
                        <br />

                        <label>Foto:</label>
                        <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB"/>

                    </div>

                    <div class="panel-footer">
                        <button name="btnCadastrar" data-ng-click="cadastrar(usuario, file)" class=" btn btn-info glyphicon glyphicon-plus-sign" style="width:420px">
                            Cadastrar Usuário
                        </button>
                        <hr />
                        <span>{{msg}}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>
