@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form name="myForm" data-ng-app="myApp" data-ng-controller="usuarioCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-3">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>Dados Pessoais:</h4>
                    </div>

                    <div class="panel-body">

                        <input type="text" name="nome" data-ng-model="usuario.Nome" class="form-control" placeholder="Nome" required />
                        <br />

                        <input type="text" name="sobrenome" data-ng-model="usuario.Sobrenome" class="form-control" placeholder="Sobrenome" required />
                        <br />

                        <input type="text" onblur="(this.type = 'text')" onfocus="(this.type = 'date')" name="datanascimento" data-ng-model="usuario.datanascimento" class="form-control" placeholder="Data de Nascimento" required/>
                        <br />  

                        <label>Sexo:</label>
                        <input type="radio" name="sexo" data-ng-model="usuario.sexo" value="Masculino" required/> Masculino
                        <input type="radio" name="sexo" data-ng-model="usuario.sexo" value="Feminino" required/> Feminino
                        <hr />

                        <input type="text" name="login" data-ng-model="usuario.Login" class="form-control" placeholder="Login" required />
                        <br />

                        <input type="password" name="senha" data-ng-model="usuario.Senha" class="form-control" placeholder="Senha" required />
                        <br />

                        <input type="password" name="senhaConfirm" data-ng-model="usuario.SenhaConfirm" password-check="usuario.Senha" class="form-control" placeholder="Confirme a senha" required />
                        <span ng-show="myForm.senhaConfirm.$error.passwordCheck" style="color:red">As senhas não coencidem</span>
                        <br />
                        <br />

                        <label>Foto:</label>
                        <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB" required />

                    </div>



                    <div class="panel-footer">
                        <button name="btnCadastrar"
                                ng-disabled="myForm.nome.$invalid || myForm.sobrenome.$invalid || myForm.datanascimento.$invalid || myForm.sexo.$invalid || myForm.login.$invalid || myForm.senha.$invalid || myForm.senhaConfirm.$invalid || myForm.file.$invalid"
                                data-ng-click="cadastrar(usuario, file)" class=" btn btn-info glyphicon glyphicon-plus-sign" style="width:420px">
                            Cadastrar Usuário
                        </button>
                        <hr />
                        <span>{{msg}}</span>
                    </div>

                </div>
                <a href="/Usuario/Login">Voltar</a>
            </div>
        </div>
    </div>
</form>