@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form data-ng-app="myApp" data-ng-controller="usuarioCtrl" name="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-3">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>Dados Pessoais:</h4>
                    </div>

                    <div class="panel-body">

                        <input type="text" name="usuario.Nome" data-ng-model="usuario.Nome" class="form-control" placeholder="Nome" required />
                        <br />

                        <input type="text" name="usuario.Sobrenome" data-ng-model="usuario.Sobrenome" class="form-control" placeholder="Sobrenome" required />
                        <br />

                        <input type="text" name="usuario.Login" data-ng-model="usuario.Login" class="form-control" placeholder="Login" required />
                        <br />

                        <input type="password" name="usuario.Senha" data-ng-model="usuario.Senha" class="form-control" placeholder="Senha" required />
                        <br />

                        <input type="password" name="usuario.SenhaConfirm" data-ng-model="usuario.SenhaConfirm" class="form-control" placeholder="Confirme a senha" required />
                        <br />

                        <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB"/>

                    </div>

                    <div class="panel-footer">
                        <button name="btnCadastrar" data-ng-click="cadastrar(usuario, file)" class=" btn btn-info glyphicon glyphicon-plus-sign" style="width:420px">
                            Cadastrar Usuário
                        </button>
                        <hr />
                        <span>{{msg}}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
